__pycache__/
*.pyc
*.pt
scan_dataset.py
simple_experiment.py
xcomet_run.py
explore_data.py
*.csv
data/
.venv/
md/
logs/
.vscode/
logistic_regression_output/
extract_multilabel_output
manipulation_result
scripts/
multilabel_regression_output
experiment_data_output/
extract_all_layers_output/
*.png
*.jpg
*.jpeg
*.json
*.sh
*.txt
